footer {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--bg-color);
}

ul {
    list-style: none;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: dashed;
}

footer>span {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    color: #444;
}