.header {
    background-color: var(--bg-color);
}

.header-img {
    width: 250px;
    padding: 10px;
}

.nav-link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-bar:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {

    .header {
        display: flex;
    }    

}