.button-container>h2 {
    margin-bottom: 20px;
}

.submit-button {
    background-color: var(--bg-color);
    max-width: 150px;
    width: 100%;
    min-height: 30px;
    margin: 15px 0;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #013220;
}

.text-container__section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 500px;
    
}

.icon-container {
    width: 50px;
}